[submodule "external/glm"]
	path = external/glm
	url = https://github.com/g-truc/glm
[submodule "external/imgui"]
	path = external/imgui
	url = https://github.com/UhGoomba/imgui
[submodule "external/assimp"]
	path = external/assimp
	url = https://github.com/assimp/assimp
[submodule "external/spdlog"]
	path = external/spdlog
	url = https://github.com/gabime/spdlog
[submodule "external/libassert"]
	path = external/libassert
	url = https://github.com/jeremy-rifkin/libassert
[submodule "external/sdl"]
	path = external/sdl
	url = https://github.com/libsdl-org/SDL
